body {
  font-size: 14px;
  line-height: calc(30 / 18);
  font-family: 'Roboto';
}

.header_web {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: normal;
  display: block;
  margin-left: 215px;
  margin-top: 24px;
}

.footer_web {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: normal;
  display: block;
  margin-left: 215px;
  margin-bottom: 20px;
}

header {
  width: 1600px;
  height: 80px;
  display: inline-flex;
  text-decoration: none;
  margin-top: 0px;
  border: 1px solid #ECECEC;
}

.header-list {
  display: inline-flex;
  margin-left: 294px;
}

.nav {
  display: inline-flex;
}

.list_studio {
  display: inline-flex;
  padding: 0px;
}

.paragraf {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}



.command_title .paragraf,
.any-works .paragraf {
  text-align: center;
  font-size: 16px;
}

                                        /* portfolio */
.any-works{
  list-style: none;
  width: 1170px;
}

.any-items{
  display: inline-block;
  margin-top: 30px;
  
}

.command_title .paragraf {
  line-height: 1.2;
}

.any-works .paragraf {
  line-height: 1.875;
}

.Studio_color {
  color: rgb(252, 251, 251);
}
.Studio_color_header {
  color: rgb(6, 6, 6);
}
.header_web:hover,
.footer_web:hover,
.footer_web:focus .header_web:focus {
  color: rgb(128, 43, 0);
}

ul .Link_Studio:active,
.mail_link:active,
.foot_link:active {
  color: rgb(232, 85, 163);
}
.webstudio:active {
  color: rgb(232, 85, 163);
}

.button {
  background-color: #2196f3;
  color: #f4f5f5;
}

.button_servise {
  margin: 10px 32px 10px;
  display: block;
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: normal;
  cursor: pointer;
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  margin: 30px 692px 200px;
}

footer {
  background-color: rgba(47, 48, 58, 1);
  color: white;
  width: 1600px;
  height: 252px;
  padding: 60px;
}

.button_title {
  background-color: rgba(47, 48, 58, 1);
  color: rgb(255, 255, 255);
  height: 600px;
  width: 1600px;
}

.body-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin-left: 452px;
  margin-top: 200px;
  display: inline-block;
}

.footer_contacts a {
  color: rgba(255, 255, 255, 0.6);
}

.link:hover,
.link:focus {
  color: #2196f3;
}
.footer_contacts .mail_link:hover {
  color: rgba(100, 255, 255, 0.5);
}
.command,
.work-specific {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.name {
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.command_title .name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.command_title:first-child {
  margin-left: 215px;
}
.command_title {
  padding: 0px;
  width: 1170px;
}

.command-fon {
  background-color: #ffffff;
  margin-left: 30px;
  outline: 1px solid rgb(182, 175, 175);
}

.command-fon:first-child {
  margin-left: 0px;
}

.command-section {
  box-sizing: content-box;
  background-color: #f5f4fa;
  width: 1170px;
  padding-left: 215px;
}

.any-works .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

button:hover {
  background-color: rgba(33, 150, 243, 1);
  color: #f4f5f5;
}
.link {
  cursor: pointer;
  color: black;
  line-height: 1.14;
  letter-spacing: normal;
  font-weight: 500;

  margin-top: 16px;
  display: inline-block;
  margin-left: 50px;
}

.link1 {
  cursor: pointer;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.06em;
  font-family: inherit;
  font-size: 16px;
}
.list-items > .link1:first-child {
  background-color: rgba(33, 150, 243, 1);
  color: #f4f5f5;
}

.link2 {
  color: rgba(33, 150, 243, 1);
  line-height: 1.4;
  letter-spacing: normal;
  font-weight: 500;
  margin-left: 93px;
  margin-top: 16px;

  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.work-specific {
  text-align: center;
}

.link,
.link2,
.web,
.mail_link,
.foot_link {
  text-decoration: none;
}

.list,
.command_title,
.footer_contacts,
.list_studio {
  list-style: none;
  display: flex;
}

.footer_contacts {
  display: list-item;
  margin-left: 215px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.footer_contacts.mail_link {
  margin: 0px;
}

.fut-adress {
  margin-left: 215px;
}

.paragraf-fut {
  line-height: 1.8;
  letter-spacing: normal;
  color: #ffffff;
  display: inline;
  margin-top: 20px;
}

.list {
  padding: 0px;
  margin: 0px;
}

.visually-hidden .list {
  width: 1170px;
  margin: 94px 215px;
  display: block;
}


.mail_link .link {
  color: #757575;
  margin-left: 50px;
  margin-top: 32px;
  display: inline-table;
}

.mail_link:last-child {
  margin-left: 50px;
  }

.title-section {
  line-height: 1.15;
  letter-spacing: normal;
  font-size: 14px;
}

address {
  font-style: normal;
  display: inline;
}

.about-us {
  display: inline-block;
}

.work {
  margin-left: 215px;
  width: 1170px;
}

.work-photo {
  margin-left: 30px;
}
.work-photo:first-child {
  margin-left: 0px;
}
.attention {
  width: 1170px;
  margin-left: 215px;
  margin-top: 94px;
}

.foot_link {
  color: #757575;
  display: inline-block;

  margin-left: 0px;
  margin-top: 9px;
}

.nav-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}

.nav-list link:hover,
.nav-list link:focus {
  color: #2196f3;
}

.port{
  width: 1170px;
  height: 1360px;
  margin-top: 100px;
  margin-left: 215px;
}

.list-but{
  list-style: none;
  padding: 0px;
  margin-left: 413px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  }

  .name-work{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
    text-align: center;
  }

.any-paragraf{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875px;
  lcolor: #757575;
  margin-top: 4px;
  text-align: center;
}

.border-work{
border: 1px solid #EEEEEE;
}